#invader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.row{
    display: flex;
    justify-content: center;
}
.cell{
    width: 20px;
    height: 20px;
    background-color:black;
    border:2px solid purple;
}



.white {
    background-color: white;
    border-color: yellow;
}